In [1]:
import pandas as pd
from pathlib import Path
import seaborn as sns
import datetime as dt
%matplotlib inline

In [2]:
#covid_data = Path("/Users/pablocisilino/Desktop/Pro1/cdc_covid19.cvs")

In [3]:
covid_data = pd.read_csv("United_States_COVID-19_Cases_and_Deaths_by_State_over_Time.csv", 
                         index_col="submission_date", parse_dates=True)

In [4]:
#https://data.cdc.gov/resource/9mfq-cb36.json
# United_States_COVID-19_Cases_and_Deaths_by_State_over_Time\
covid_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 17160 entries, 2020-01-22 to 2020-11-02
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   state           17160 non-null  object
 1   tot_cases       17160 non-null  int64
 2   conf_cases      6155 non-null   float64
 3   prob_cases      6155 non-null   float64
 4   new_case        17160 non-null  int64
 5   pnew_case       11896 non-null  float64
 6   tot_death       17160 non-null  int64
 7   conf_death      6550 non-null   float64
 8   prob_death      6550 non-null   float64
 9   new_death       17160 non-null  int64
 10  pnew_death      11894 non-null  float64
 11  created_at      17160 non-null  object
 12  consent_cases   14014 non-null  object
 13  consent_deaths  14300 non-null  object
dtypes: float64(6), int64(4), object(4)
memory usage: 2.0+ MB

In [18]:
covid_data.head()

,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,created_at,consent_cases,consent_deaths
submission_date,,,,,,,,,,,,,,
2020-01-22,CO,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,Agree,Agree
2020-01-23,CO,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,Agree,Agree
2020-01-24,CO,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,Agree,Agree
2020-01-25,CO,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,Agree,Agree
2020-01-26,CO,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,Agree,Agree

In [19]:
# tot_cases; tot_death
# range dates
# delete weekends

In [20]:
covid_clean_data = covid_data[["tot_cases","tot_death"]]

In [21]:
covid_clean_data.head()

                 tot_cases  tot_death
submission_date
2020-01-22               0          0
2020-01-23               0          0
2020-01-24               0          0
2020-01-25               0          0
2020-01-26               0          0

In [22]:
covid_really_clean = covid_clean_data.groupby(covid_clean_data.index).sum()

In [23]:
covid_really_clean

                 tot_cases  tot_death
submission_date
2020-01-22               1          0
2020-01-23               1          0
2020-01-24               2          0
2020-01-25               2          0
2020-01-26               5          0
...                    ...        ...
2020-10-29         8924548     228100
2020-10-30         9024298     229109
2020-10-31         9113169     229978
2020-11-01         9182628     230383
2020-11-02         9268818     230893

[286 rows x 2 columns]